{% extends 'base.html' %}

{% block title %}{{ super() }}Atualizar Estoque{% endblock %}

{% block content %}

<div class="container col-md-9 mt-4">

	<form action="" method="POST">

		{{ form.csrf_token }}
		<h3 class="text-center">Atualização do Item "{{ item.nome_item }}" do Estoque</h3>
		<div class="row">
			<div class="form-group col-md-3">
				<label>Atualizar nome</label>
				{{ form.nome_item(class="form-control", value=item.nome_item) }}
			</div>
		</div>

		<div class="form-row">

			<div class="form-group col-md-4">
				<label>Data Atualização</label>
				{{ form.data_atualizacao(class="form-control", id="data_atualizacao", onkeyup="makeDate('data_atualizacao'),") }}
			</div>

			<div class="form-group col-md-4">
				<label>Quantidade em Estoque</label>
				{{ form.quantidade_estoque(class="form-control", value=item.quantidade_estoque) }}
			</div>

			<div class="form-group col-md-4">
				<label>Quantidade Mínima</label>
				{{ form.quantidade_minimo(class="form-control", value=item.quantidade_minimo) }}
			</div>

		</div>

		<button type="submit" class="btn btn-dark">Atualizar</button>
		{% if current_user.is_authenticated %}
        <a class="text-light btn btn-primary" href="{{ url_for('estoque') }}">Voltar</a>
      	{% endif %}
		<!-- <button type="reset" class="btn btn-danger">Limpar</button> -->
	</form>

</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock %}