{% extends 'base.html' %}

{% block title %}{{ super() }}Estoque{% endblock %}

{% block content %}

<div class="container mt-5">
	<table class="table table-sm">
		<thead>
		  	<tr>
			    <th>#</th>
			    <th>Nome</th>
			    <th>Quantidade em estoque</th>
			    <th>Quantidade mínima</th>
			    <th>Data de atualização</th>
			    <th></th>
		    </tr>
		</thead>
	 	<tbody>
	 		{% for item in estoque %}
	 			{% if (item.quantidade_estoque / item.quantidade_minimo) < 1.2 %}
		 			<tr class="table-danger">
		 		{% else %}
		 			<tr>
		 		{% endif %}
				    <td>{{item.id}}</td>
				    <td>{{item.nome_item}}</td>
				    <td>{{item.quantidade_estoque}}</td>
				    <td>{{item.quantidade_minimo}}</td>
				    <td>{{item.data_atualizacao}}</td>
				    <td>
				   		<a class="btn btn-primary btn-sm" href="{{ url_for('atualizarItem', id=item.id) }}">Atualizar</a>
				   		<a class="btn btn-danger btn-sm" href="{{ url_for('deleteItem', id=item.id) }}">Excluir</a>
				   	</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}