{% extends 'base.html' %}

{% block title %}{{ super() }}Estoque{% endblock %}

{% block content %}

<div class="container">
	<form>
		<div class="container">
			<div class="row">
				{% for item in estoque %}
					<div class="col-sm-8 mb-4">
					    <div class="card">
					      	<div class="card-body">
						        <h5 class="card-title text-center">Item {{item.id}}</h5>
						        <p class="card-text"><span><h6>Nome: </h6></span>{{item.nome_item}}</p>
						        <p>Quantidade em estoque: {{item.quantidade_estoque}}</p>
						        <p>Quantidade mínima: {{item.quantidade_minimo}}</p>
						        <p>Data de atualização: {{item.data_atualizacao}}</p>
					        	<a class="btn btn-primary" href="{{ url_for('atualizarItem', id=item.id) }}">Atualizar</a>
					      	</div>
					    </div>
					</div>
				{% endfor %}
			</div>
		</div>
	</form>
</div>

{% endblock %}