{% extends 'base.html' %}

{% block content %}

<div class="container col-md-9 mt-4">

	<h3 class="text-center">Adicionar Pedido</h3>

	<form action="" method="POST">

		{{ form.csrf_token }}
		<div class="form-group">
			<label>Descrição</label>
			{{ form.descricao(class="form-control") }}
		</div>

		<div class="form-row">

			<div class="form-group col-md-4">
				<label>Data Pedido</label>
				{{ form.data_pedido(class="form-control", placeholder="YYYY-MM-DD", id="datalogin", onkeyup="makeDate('datalogin')") }}
			</div>

			<div class="form-group col-md-4">
				<label>Quantidade</label>
				{{ form.quantidade(class="form-control") }}
			</div>

			<div class="form-group col-md-4">
				<label>Preço</label>
				<div class="input-group-prepend">
		          <span class="input-group-text">R$</span>
		          {{ form.preco(class="form-control") }}
		        </div>
				
			</div>

		</div>

		<div class="form-group">
			<label class="form-check-label">
				{{ form.status_conclusao }} Marcar se já foi concluído
			</label>
		</div>

		<button type="submit" class="btn btn-dark">Adicionar Pedido</button>
		<button type="reset" class="btn btn-danger">Limpar</button>
	</form>

</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock %}