{% extends 'base.html' %}

{% block title %}{{ super() }}Pedidos{% endblock %}

{% block content %}

<div class="container mt-5">
	<table class="table">
		<thead>
		  	<tr>
			    <th>#</th>
			    <th>Serviço</th>
			    <th>Observação</th>
			    <th>Preço</th>
			    <th>Quantidade</th>
			    <th>Data</th>
			    <th class="text-center">Status</th>
		    </tr>
		</thead>
		 	<tbody>
		 		{% for item in pedidos_ativos %}
		 		<tr>
				    <td>{{item.id}}</td>
				    <td>{{item.servico}}</td>
				    <td>{{item.observacao}}</td>
				    <td>R$ {{item.preco}}</td>
				    <td>{{item.quantidade}}</td>
				    <td>{{item.data_pedido}}</td>
				    <td class="text-center">
				   		<a class="btn btn-primary btn-sm" href="{{ url_for('complete', id=item.id) }}">Concluir</a>
				   		<a class="btn btn-danger btn-sm" href="{{ url_for('confirmacao', id=item.id) }}">Excluir</a>
				   	</td>
				</tr>
				{% endfor %}
				
				
				{% for item in pedidos_concluidos %}
				<tr>
				    <td>{{item.id}}</td>
				    <td>{{item.servico}}</td>
				    <td>{{item.observacao}}</td>
				    <td>R$ {{item.preco}}</td>
				    <td>{{item.quantidade}}</td>
				    <td>{{item.data_pedido}}</td>
				    <td class="text-center">
				    	<span>
				    	Concluído
				    	</span>
				    	<span>
				    	<a class="btn btn-danger btn-sm" href="{{ url_for('confirmacao', id=item.id) }}">Excluir</a>
				    	</span>
				    </td>
				</tr>
				{% endfor %}
				
			</tbody>
	</table>
</div>

{% endblock %}